<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Restructure.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DC419CDB1C2E89FA002735AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC419CEF1C2E89FB002735AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC419CFA1C2E89FB002735AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
