<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MoneyBall.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DCDB556F1DB7C68B008CF091</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCDB55831DB7C68C008CF091</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCDB558E1DB7C68C008CF091</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
